@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Edu+NSW+ACT+Foundation&family=Gaegu&display=swap');

h1 {
  font-family: 'Caveat', cursive;
  font-size: 50px;
}

h3, h4, h5 {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

h3 {
  font-size: 22px;
}

ul {
  font-family: 'Gaegu', cursive;
  font-size: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-image: url("./notebook.jpg");
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}